<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.YoupDEVConnectionString" connectionString="Data Source=avip9np4yy.database.windows.net;Initial Catalog=YoupDEV;Persist Security Info=True;User ID=youpDEV;Password=youpD3VASP*"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>